<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles/style.css" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/piano">Piano</a></li>
                    <li><a href="/speech_to_text">Speech-to-Text</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="home section-px">
                <div class="home__texts">
                    <h1 class="heading-primary">
                        Lorem ipsum sit <br />
                        <span class="highlight">dolor sit</span> amet consectetur.
                    </h1>
                    <p class="section-paragraph">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. distinctio,
                        possimus ex obcaecati reprehenderit tempora perspiciatis fugit at.
                    </p>
                    <a href="/" class="btn primary"> Learn more </a>
                </div>
                <div class="home__img-container">
                    <img src="../static/img/hero-illu.png" alt="" />
                </div>
            </div>
        </section>
    </body>
</html>
