<!DOCTYPE html>


    <img src="../static/img/sadness.gif" alt="Italian Trulli" class="hi emotion" id="hi">
    <img src="../static/img/anger.gif" alt="Italian Trulli" class="hi1 emotion" id="hi1">
    <img src="../static/img/hungry.gif" alt="Italian Trulli" class="hi2 emotion" id="hi2">
    <img src="../static/img/happy.gif" alt="Italian Trulli" class="hi3 emotion " id="hi3">
    <img src="../static/img/sleepy.gif" alt="Italian Trulli" class="hi4 emotion" id="hi4">





<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piano</title>
    <link rel="stylesheet" href="../static/styles/style.css" />
    <script src="../static/scripts/app.js" defer></script>


</head>
<body>
    <div class="piano">
        <div class="white key" id="white key key-1"></div>
        <div class="white key" id="white key key-2"></div>
        <div class="white key" id="white key key-3"></div>
        <div class="white key" id="white key key-4"></div>
        <div class="white key" id="white key key-5"></div>
        <div class="white key" id="white key key-6"></div>
        <div class="white key" id="white key key-7"></div>

        <div class="black key key-1" ></div>
        <div class="black key key-2" ></div>
        <div class="black key key-3"></div>
        <div class="black key key-4"></div>
        <div class="black key key-5"></div>

    </div>

</body>

</html>