<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles/main.css" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/piano">Piano</a></li>
                    <li><a href="/speech_to_text">Speech-to-Text</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="home section-px">
                <div class="home__texts">
                    <h1 class="heading-primary">
                        With music <br />
                        <span class="highlight">express</span> &
                        <span class="highlight">embrace</span> what you feel .
                    </h1>
                    <p class="section-paragraph">
                        Emomi is an application that helps nonverbal children express their emotions
                        through music. It acts as a kind of music therapy and helps us show our
                        support and solidarity to children who want to express themselves but
                        cannot.
                    </p>
                    <a href="/piano" class="btn primary"> Play now</a>
                </div>
                <div class="home__img-container">
                    <img src="../static/img/hero-illu.png" alt="" />
                </div>
            </div>
        </section>
    </body>
</html>
