<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Piano</title>
        <link rel="stylesheet" href="../static/styles/main.css" />
        <script defer src="../static/scripts/app.js" defer></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/piano">Piano</a></li>
                    <li><a href="/speech_to_text">Speech-to-Text</a></li>
                </ul>
            </nav>
        </header>

        <section id="piano-container">
            <div class="emotions">
                <img
                    src="../static/img/sadness.gif"
                    alt="Italian Trulli"
                    class="hi emotion"
                    id="hi"
                    data-name="sadness"
                />
                <img
                    src="../static/img/anger.gif"
                    alt="Italian Trulli"
                    class="hi1 emotion"
                    id="hi1"
                    data-name="anger"
                />
                <img
                    src="../static/img/hungry.gif"
                    alt="Italian Trulli"
                    class="hi2 emotion"
                    id="hi2"
                    data-name="hungry"
                />
                <img
                    src="../static/img/happy.gif"
                    alt="Italian Trulli"
                    class="hi3 emotion"
                    id="hi3"
                    data-name="happy"
                />
                <img
                    src="../static/img/sleepy.gif"
                    alt="Italian Trulli"
                    class="hi4 emotion"
                    id="hi4"
                    data-name="sleepy"
                />
                <img
                    src="../static/img/bored.gif"
                    alt="Italian Trulli"
                    class="hi5 emotion"
                    id="hi5"
                    data-name="bored"
                />
                <img
                    src="../static/img/scared.gif"
                    alt="Italian Trulli"
                    class="hi6 emotion"
                    id="hi6"
                    data-name="scared"
                />
            </div>

            <div class="piano">
                <div class="white key"></div>
                <div class="white key"></div>
                <div class="white key"></div>
                <div class="white key"></div>
                <div class="white key"></div>
                <div class="white key"></div>
                <div class="white key"></div>

                <div class="black key key-1" id="black key key-1"></div>
                <div class="black key key-2" id="black key key-2"></div>
                <div class="black key key-3"></div>
                <div class="black key key-4"></div>
                <div class="black key key-5"></div>
            </div>
        </section>

        <audio class="bg-music"></audio>
    </body>
</html>
