<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/styles/style.css" />
        <script src="../static/scripts/app.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/piano">Piano</a></li>
                    <li><a href="/speech_to_text">Speech-to-Text</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="speech-to-text section-px">
                <button id="speech" class="mic-btn">
                    <div class="pulse-ring"></div>
                    <img src="../static/img/microphone.png" alt="" />
                </button>
            </div>
        </section>
    </body>
</html>
