#piano-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    overflow: hidden;
}

.emotions {
    display: flex;
    align-items: center;
    height: 20rem;
    margin-bottom: 5rem;
}

.emotion {
    width: 0;
    opacity: 0;
    transition: all 0.35s ease-in-out;
}

.show {
    opacity: 1;
    width: 25rem;
}

.piano {
    display: flex;
    box-shadow: 0 0 7px #000;
    overflow: hidden;
    /* position: fixed; */
    /* border: 2px solid; */
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.key.white {
    width: 60px;
    height: 190px;
    background: #fff;
    border: 1px solid #000;
    cursor: pointer;
    transition: border 0.5s ease;
}

.key.white:hover {
    border-bottom: 30px solid #111;
}

.key.black {
    background: #000;
    width: 30px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    color: #fff;
    transition: transform 0.3s ease;
}

.key.black:hover {
    transform: translateY(-10px) scaleY(0.8);
}

.key.black.key-1 {
    margin-left: 44px;
}

.key.black.key-2 {
    margin-left: 104px;
}

.key.black.key-3 {
    margin-left: 224px;
}

.key.black.key-4 {
    margin-left: 284px;
}

.key.black.key-5 {
    margin-left: 344px;
}

@keyframes fade-out {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
